.root {
    font-family: 'Roboto', sans-serif;
}
.top {
    height: 67px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #C3CFD9;
    line-height: 67px;
    font-size: 34px;
    color: #E8833A;
    text-align: center;
}

.movie-feed {
    background-color: white;
}

.movie-feed .text-box{
    height: 110px;
    font-size: 24px;
    color: #293845;
    line-height: 110px;
}

.movie-feed .movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 145px;
    height: 209px;
    background: #FFFFFF;
    margin-bottom: 11px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.movie img{
    width: 129px;
    height: 193px;
    display: block;
    margin: auto;
    padding-top: 8px;
    object-fit: contain;
}

.movie:hover{
    opacity: 0.8;
}

.sessions-feed{
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    margin-bottom: 89px;
}

.text-box{
    height: 110px;
    font-size: 24px;
    color: #293845;
    line-height: 110px;
    text-align: center;
}

.day {
    height: 100px;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 22px;
}
.day .date{
    font-size: 20px;
    line-height: 35px;
    color: #293845;
}

.day .showtimes{
    display: flex;
    justify-content: flex-start;
}

.showtime{
    background-color: #E8833A;
    width: 83px;
    height: 43px;
    margin-right: 8px;
    border-radius: 3px;
    font-size: 18x;
    line-height: 43px;
    text-align: center;
    color: white;
}

.sessions-feed-bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #E5E5E5;
    justify-content: flex-start;
    align-items: center;
}

.sessions-feed-bottom .thumbnail {
    width: 64px;
    height: 89px;
    margin-left: 3%;
}

.thumbnail img {
    width: 48px;
    height: 72px;
    display: block;
    margin: auto;
    padding-top: 8px;
    object-fit: contain;
}
.sessions-feed-bottom .movie-title{
    font-size: 26px;
    color: #293845;
    border: 1px solid #9EADBA;
}

.seats-feed{
    width: 100%;
    display: flex;
    margin-top: 67px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.seats-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.seat{
    width: 24px;
    height: 24px;
    margin-left: 3.5px;
    margin-right: 3.5px;
    margin-top: 9px;
    margin-bottom: 9px;
    background: #C3CFD9;
    border: 1px solid #808F9D;
    box-sizing: border-box;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
}

.seat.selected{
    background-color: #8DD7CF;
}

.seat.unavailable{
    background-color: #FBE192;
}

.seats-subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-input-title{
    width: 327px;
    height: 25px;
    font-size: 18px;
    color:#293845;
    text-align: start;
}

.user-input-field input{
    width: 327px;
    height: 50px;
    font-size: 18px;
    color:#293845;
    text-align: start;
    padding-left: 18px;
    margin-bottom: 7px;
}

.book-seats-button{
    width: 225px;
    height: 42px;
    margin-top: 50px;
    margin-bottom: 147px;
    color: white;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    background-color: #E8833A;
    border-radius: 3px;
}
